.parent {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
}
.parent div {
  margin: 10px;
  padding: 10px;
  width: calc((100% - 120px) / 3);
  background-color: #9e9e9e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  order: 6;
  align-self: flex-end;
}
.two {
  order: 5;
}
.three {
  order: 2;
  align-self: flex-start;
}
.four {
  order: 3;
}
.five {
  order: 4;
}
.six {
  order: 1;
}
