* {
  box-sizing: border-box;
}
.float {
  overflow: hidden;
  background-color: #eee;
  width: 600px;
  padding: 20px;
  margin: 20px auto;
}
.float div {
  background-color: tomato;
  color: white;
  float: left;
  width: 25%;
  text-align: center;
  padding: 20px;
}
