* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
}
@keyframes loader {
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
div {
  width: 50px;
  height: 50px;
  border: 5px solid #333;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: relative;
  animation-name: loader;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
div::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 5px solid #ff9800;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  top: -15px;
  left: -15px;
  animation-name: loader;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
div::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 5px solid rgb(32, 63, 199);
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  top: -24px;
  left: -25px;
  animation-name: loader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

div:hover,
div:hover::after,
div:hover::before {
  animation-play-state: running;
}
