body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
div {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  background-color: #eee;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
div::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: -8px;
  border-top: 8px solid rgb(218, 73, 97);
  border-right: 8px solid rgb(218, 73, 97);
  border-bottom: 8px solid rgb(218, 73, 97);
  border-left: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition-duration: 0.8s;
}
div::before {
  content: "";
  width: 216px;
  height: 216px;
  position: absolute;
  top: -16px;
  border-top: 8px solid rgb(73, 107, 218);
  border-right: 8px solid rgb(255, 255, 255);
  border-bottom: 8px solid rgb(73, 107, 218);
  border-left: 8px solid rgb(73, 107, 218);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition-duration: 0.5s;
}
div:hover::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
div:hover::after {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
